.cartCont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
  width: 100%;
}

.cartImgStl {
  width: 20%;
  height: 35vh;
}

@media (max-width: 799px) {
  .cartImgStl {
    width: 19%;
    height: 25vh;
  }
}
